In [ ]:
import pandas as pd

retailData = pd.read_csv('online_retail.csv')

retailData.head(10)

In [ ]:
retailData.info()

In [ ]:
retailData.isna().sum()

Cell above shows the columns and how many missing values per column. Will begin EDA now

In [ ]:
retailData.replace(['wet?','Discount', 'counted', '?lost', 'mixed up', '? sold as sets?','?sold as sets?', 'Given away', 'label mix up', 'samples/damages', 'thrown away', 'showroom' 'missing','????damages????', 'wet boxes', 'wet', 'lost'], pd.NA, inplace=True)

In [ ]:
mode = retailData['Description'].mode()[0]
retailData['Description'] = retailData['Description'].fillna(mode)

In [ ]:
retailData['Description'].unique()

In [ ]:
median = retailData['CustomerID'].median()
retailData['CustomerID'] = retailData['CustomerID'].fillna(median)

In [ ]:
retailData['CustomerID'].unique()

In [ ]:
retailData.isna().sum()

Changing data types

In [ ]:
retailData['InvoiceDate'] = pd.to_datetime(retailData['InvoiceDate'])

retailData['InvoiceDate'] = retailData['InvoiceDate'].dt.date

In [ ]:
retailData['CustomerID'] = retailData['CustomerID'].astype(int)

In [ ]:
retailData.info()

What country do people buy from the most?

In [ ]:
retailData['Country'].sort_values(ascending=False)
#Italy

Total price for the products

In [ ]:
retailData['TotalPrice'] = retailData['Quantity'] * retailData['UnitPrice']
retailData.head()

extracting month and year from invoice date

In [ ]:
retailData['Month'] = pd.to_datetime(retailData['InvoiceDate']).dt.month
retailData['Year'] = pd.to_datetime(retailData['InvoiceDate']).dt.year
retailData.head()

In [ ]:
retailData= retailData.drop(labels=['InvoiceYear','InvoiceMonth'], axis=1)
retailData.head()

What year has the most orders

In [ ]:
retailData['Year'].sort_values(ascending=False)
#2011

In [198]:
retailData.describe()

,Quantity,UnitPrice,CustomerID,TotalPrice,Month,Year
count,541909.000000,541909.000000,541909.000000,541909.000000,541909.000000,541909.000000
mean,9.552250,4.611114,15253.867397,17.987795,7.553128,2010.921609
std,218.081158,96.759853,1485.905852,378.810824,3.509055,0.268787
min,-80995.000000,-11062.060000,12346.000000,-168469.600000,1.000000,2010.000000
25%,1.000000,1.250000,14367.000000,3.400000,5.000000,2011.000000
50%,3.000000,2.080000,15152.000000,9.750000,8.000000,2011.000000
75%,10.000000,4.130000,16255.000000,17.400000,11.000000,2011.000000
max,80995.000000,38970.000000,18287.000000,168469.600000,12.000000,2011.000000

Saving as CSV

In [199]:
retailData.to_csv("retailData_cleaned.csv", index=False)